name: Courses Periodic Update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * 0'

jobs:
  update:
    runs-on: ubuntu-latest
    env:
      HUJIYEAR: 2026
      CHEESEYEAR: 2025
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install the project
        run: uv sync --all-extras --dev

      - name: Download courses
        run: |
          source .venv/bin/activate
          uv run collect_courses.py scrape -f courses.txt -y ${{env.HUJIYEAR}} -t -r 20 -n 200
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./deploy
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
